// admin header &navigation
.admin_header {
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: $blueColor;

    // navbar
    .admin_nav {
        max-width: 96rem;
        display: block;
        margin: 0 auto;
        justify-content: center;

        ul {
            li {
                width: 100%;
                display: flex;

                a {
                    width: 100%;
                    font-size: $fontSizeH6;
                    color: $lightColor;
                    text-align: center;
                    padding: 1.5rem;

                }

                &:hover {
                    @include set_bg_color($darkColor);
                }
            }

        }
        i{
            font-size: 2rem;
            color: $lightColor;
        }
    }
}

.active {
    color: yellow !important;
}

.add_table {
    background-color: $darkColor;
    width: 100%;
    border-radius: 1rem;
    padding: 3rem;

    h4 {
        font-size: $fontSizeH5;
        color: $lightColor;
        margin: 1rem;
        text-align: center;
        width: 100%;
    }

    .form_input {
        width: 100%;
        background-color: $lightColor;
        padding: 3rem;
        border-radius: 2rem;

        label {
            font-size: $fontSizeH6;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 900;
        }

        input {

            padding: 1.5rem 3rem;
            width: 100%;
            border-radius: 1rem;
            border: none;
            border: .1rem solid $darkColor;

        }
    }
}

.add_btn {
    margin-top: 4rem;
    background-color: $blueColor;
    color: $lightColor;
    border: none;


    &:hover {
        @include set_bg_color($darkColor);
        transition: ease-in-out .3rem;

        border-radius: 1erm;
    }
}

.edit_btn {
    background-color: rgb(94, 235, 38);
    padding: 1.5rem 2rem;
    border: none;
    counter-reset: $lightColor;
    border-radius: 1rem;
}

.delete_btn {
    background-color: rgb(235, 68, 38);
    padding: 1.5rem 2rem;
    border: none;
    counter-reset: $darkColor;
    border-radius: 1rem;
}

.edit_form {
    margin-bottom: 10rem;
}

.up_btn {
    display: block;
    width: 100%;
    text-align: center;
    background-color: $blueColor;
    padding: 1.5rem;
    color: $lightColor;
    font-size: 20px;

    &:hover {
        background-color: $darkColor;
    }
}

.studier_table_pro {
    padding: 1rem !important;
    width: 100% !important;
    overflow-x: scroll!important;
    display: block;
    margin-right: auto;
    td{
        font-size: 12px!important;
    }

}
.