.index_header {
    width: 100%;
    height: 10rem;

    //navbar
    .index_nav {
        max-width: 96rem;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        margin-bottom: 10rem;

        .logo {
            width: 30%;

            img {
                width: 30%;
                display: block;
                height: 7rem;
            }

            .logo_text {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                display: block;
                width: 100%;
                font-weight: 900;
                font-size: $fontSizeP;
                margin-right: 3rem;
            }

        }

        ul {
            width: 60%;
        }

        a {
            color: $darkColor;
            font-size: $fontSizeP;
            position: relative;
        }

        a:hover {
            color: $blueColor;
            opacity: .8;
            transition: .2s ease-in-out;

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                background-color: $blueColor;
                width: 100%;
                height: 1rem;
                top: 1rem;
                border-radius: 2rem;
                opacity: .01;
                transition: .2s ease-in-out;
            }
        }

        .logo:hover {
            opacity: .8;
            color: $darkColor !important;
        }

    }

    // breakpoints
    @include mediaQ(5000px) {
        .mobile_nav_list {
            display: none;
        }
    }
    @include mediaQ(760px) {
        .index_nav {
            display: none;
        }
        .mobile_nav_list{
            display: flex;
        }
    }

}

// mobile navbar
.mobile_nav_list {
    width: 100%;

    // logo and humburger 
    .header_mob {
        width: 100%;
        height: 7rem;
       padding: 0;
       gap: 50%;

        .logo_mob {
            display: block;
            width: 10rem;
            height: 5rem;
            margin-top: 0;
        }

        // Hamburger menu
        .menu_btn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 8rem;
            height: 8rem;
            cursor: pointer;
            transition: all .5s ease-in-out;

            .hamburger_btn {
                position: absolute;
                width: 5rem;
                height: .6rem;
                background-color: $darkColor;
                box-shadow: var(--shadow-box);
                border-radius: 3rem;
                transition: all .5s ease-in-out;

                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    width: 5rem;
                    height: .6rem;
                    border-radius: 1rem;
                    background-color: $darkColor;

                    transition: all .5s ease-in-out;
                    left: 0;
                }

                &::before {
                    transform: translateY(-1.2rem);
                }

                &::after {
                    transform: translateY(1.2rem);
                }

            }

        }

        /* animation */
        .menu_btn.open .hamburger_btn {
            transform: translateX(-5rem);
            background: transparent;
            box-shadow: none;
        }

        .menu_btn.open .hamburger_btn::before {
            transform: rotate(-45deg) translate(3.5rem, 3.5rem);
        }

        .menu_btn.open .hamburger_btn::after {
            transform: rotate(45deg) translate(3.5rem, -3.5rem);
        }
    }

    // navbar mobile
    .navbar_mob {
        transform: translateX(-500%);
        width: 100%;
        height: 100%;
        background-color: $darkColor;
        transition: all .6s ease-in-out;
        padding:2rem 0 ;
        margin-top: 1rem;
       

        li{
            border-bottom: $lightColor solid .1rem;
         
            width: 100%;
            text-align: center;
            padding: 2rem 0;

            a{
                color: $lightColor;
                font-size: $fontSizeH6;
                font-weight: 800;

            }
        }

        li:hover {
            border-radius: 3rem;
            transition: ease-in-out .2s;
            opacity: .5;
            display: block;
            border-bottom: $blueColor solid .1rem;
            a {

                width: 100%;
                color: $lightColor;
                font-size: $fontSizeP;


            }
        }
    }

    .visible {

        transition: all .6s ease-in-out;
        transform: translateX(0);

    }

}



